@page "/"

<h3>Bem-vindo ao RO.DevTest Frontend</h3>

<p>Use os links abaixo para navegar entre as funcionalidades:</p>

<ul class="list-group">
    <li class="list-group-item">
        <a href="clients">Gerenciar Clientes</a>
    </li>
    <li class="list-group-item">
        <a href="products">Gerenciar Produtos</a>
    </li>
    <li class="list-group-item">
        <a href="sales">Gerenciar Vendas</a>
    </li>
    <li class="list-group-item">
        <a href="salesreport">Relatório de Vendas por Período</a>
    </li>
</ul>
