@page "/products"

<h3>Produtos</h3>

<p>
    <a class="btn btn-primary" href="products/create">Criar Novo Produto</a>
</p>

<p>
    <a class="btn btn-secondary" href="products/list">Listar Produtos</a>
</p>
