@page "/clients"

<h3>Clientes</h3>

<p>
    <a class="btn btn-primary" href="clients/create">Criar Novo Cliente</a>
</p>

<p>
    <a class="btn btn-secondary" href="clients/list">Listar Clientes</a>
</p>
